<h1>Welcome!</h1>

<form action="/user/confirmation" method="post">
  <input type="text" name="full_name" placeholder="Enter your full name" /></br>
  <input type="text" name="address" placeholder="Enter your address" /></br>
  <input type="text" name="city" placeholder="Enter your city" /></br>
  <input type="text" name="state" placeholder="Enter your state" /></br>
  <input type="text" name="zip_code" placeholder="Enter your zip code" /></br>
  <input type="text" name="country" placeholder="Enter your country" /></br>
  <input type="text" name="email" placeholder="Enter your email" /></br>
  <input type="text" name="user_id" placeholder="Enter a user id" /></br>
  <input type="text" name="password" placeholder="Enter password" /></br></br>
  <input type="submit" value="Submit" />
</form>
