<h1>Welcome to the car simulator</h1>

<p>HI!</p>

<form action="/cars" method="get">
  <input type="text" name="make" placeholder="Enter Vehicle Make" />
  <input type="number" name="year" placeholder="Enter Model Year" />
  <input type="color" name="color" placeholder="Enter car color" />
  <input type="submit" value="Create Car" />
</form>
