<h1>Cars Status</h1>

<p><%= @car.info %> </p>

<form action="/cars/accelerate" method="get">
  <input type="submit" value="Accelerate">
</form>

</br>

<form action="/cars/brake" method="get">
  <input type="submit" value="Brake">
</form>

</br>

<form action="/cars/lights" method="get">
  <input type="submit" value="Lights">
</form>

</br>
<p>Parking Brake:</p>
<form action="/cars/parking_brake" method="get">
  <input name="parking_brake" type="radio" value="On" onclick="this.form.submit();" />
  <label for="parking_brake">On</label>
  <input name="parking_brake" type="radio" value="Off" onclick="this.form.submit();" />
  <label for="parking_brake">Off</label>
</form>
