<h1>Password Checker</h1>
<p>
  Your user ID and password must be at least 6 characters.</br>
  Your user ID cannot contain symbols.</br>
  Your password must contain at least one symbol (#, $, or !).</br>
  Your password and user name cannot be the same.
</p>

<form action="check_password" method="get">
  <input type="text" name="userid" placeholder="Input a User ID"/>
  <input type="text" name="password" placeholder="Input a password"/>
  <input type="submit" value="submit" />
</form>
